/* Table of Contents
    1. Global 
    2. Header 
    3. Main   
    5. Footer
*/


/* 1.  Global - styles that affect uniformly throughout the application */
:root {
    --primary: #244d8c;
    --secondary: #8c9497;
    --pop: #d13939;
    --label: rgb(33, 52, 75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
    height: 100%;
}

/* 
2. Header - contains a navigation section with links to articles on the main page of the app. The main-header-img has an alt tag but it is left empty because the
    image is purely decorative    
*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20;
    text-decoration: underline;
}
 

.hero {
   background-image: url(../images/hero-background-beach.jpeg);
    height: 450px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 300px;
    border-radius: 50px;
}

.hero-text {
    font-size: 2.5em;
    display: flex;
    justify-content: end;
    text-align: right;
    color: lightgray;
   }



/* 
3. Main - I used the semantic title of 'main' with 'article' as descendants. This should make the naming clear and not introduce any new class names that could cause
    confusion. The float classes are the only exception but I added '.main' to their title to avoid confusion if they ever need to be used in future versions. Again, img alt tags are left empty because
    the images are decorative only   
*/

.title {
    display: flex;
    border-right:  solid black;
    min-height: 100%;
    justify-content: flex-end;
    padding: 0 40px 0 0;
    min-width: 20%;
    max-width: 20%;
}

.title h3 {
    display: flex;
    font-size: 50px;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}
article p {
    padding: 0 30px;
    width: 90%;
    font-size: 1.5em;
    line-height: 1.6;
}

.my-projects-box {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.project {
   display: flex;
   justify-content: flex-start;
   align-items: flex-end; 
   text-decoration: none;
   background-size: cover;
   background-position: center;
   opacity: 0.5;
   border: solid black;
   border-radius: 10px;
   margin: 5px;
}

.project-label {
    padding: 10px;
    background-color: #5a616a;
    color: var(--label);
    border-radius: 15px;
}

.project:hover {
    opacity: 1.0;
}

.horiseon {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(../images/digital-marketing-meeting.jpg);
}

.coming-soon {
    background-image: url(../images/coming-soon.jpeg);
}
/* 5. Footer - the last section seen on the page and is the last styled on the style sheet. Since it is semantically labeled a <footer> in the html I followed that with the CSS. The <h2> is put in as
    a descendant of the footer. */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 80px;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li {
    padding: 25px;
    font-weight: bold;
    text-decoration: underline;
}

footer ul li a {
    text-decoration: none;
    color: var(--primary);
    padding: 8px;
    font-weight: bold;
}

/*footer ul li a:hover {
    background: var(--pop);
    color: var(--secondary);
    border-radius: 15px;
}
*/